user_uuid="7fbdf93b-75e9-4daa-baaf-a516d10dfbf3"
bucket_name="0wicexa6nyu3to6xl86fxwm0lf3oprqn"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"
assets_path="/workspace/terraform-beginner-bootcamp-2023/public/assets"
content_version=1