terratowns_endpoint="https://terratowns.cloud/api"
minimilitia = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/minimilitia"
  content_version = 2 
}
suttarphini = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/suttarphini"
  content_version = 1 
}